@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,900;1,100;1,400&family=Raleway:ital,wght@0,100;0,400;0,600;0,700;0,900;1,100;1,400&display=swap");
/*
0 - 600px: Phone
600px - 950px: Tablet portrait
900px - 1200px: Tablet landscape
[1200px - 1800px]: Main design
1800px +: Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6; }

hr {
  border: 0;
  border-bottom: 5px solid #393E46;
  border-style: double;
  max-width: 10rem;
  margin: 3rem auto; }

.header {
  overflow: hidden;
  min-height: 100vh; }
  .header::before {
    content: "";
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    filter: brightness(0.4);
    z-index: -999; }
  .header__expand {
    position: fixed;
    right: 5rem;
    top: 7rem;
    font-size: 4rem;
    color: #EFEFEF;
    cursor: pointer;
    transition: color 0.2s;
    z-index: 999;
    text-shadow: 0 0.01rem 0.2rem #181818;
    z-index: 1000; }
    .header__expand:hover {
      color: rgba(255, 255, 255, 0.8); }
  .header__top {
    margin: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 59.375em) {
      .header__top {
        flex-direction: column;
        justify-content: center;
        padding-top: 3rem; } }
  .header__logo--img {
    width: 100%; }
  .header__text {
    text-align: center;
    margin-top: 18rem;
    margin-bottom: 18rem;
    padding: 0 5rem;
    float: center; }
    @media (max-width: 59.375em) {
      .header__text {
        margin-top: 8rem; } }
    .header__text--heading {
      color: #FFF;
      font-family: "Lato", sans-serif;
      max-width: 120rem;
      margin: 0 auto;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 3rem; }
    .header__text--paragraph {
      color: #EFEFEF; }

.header__nav {
  max-width: 90rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: auto;
  background-color: rgba(57, 62, 70, 0.5);
  padding: 2rem;
  border-radius: 3px;
  transition: all 0.2s; }
  @media (max-width: 59.375em) {
    .header__nav {
      max-width: none;
      border-radius: 0;
      background-color: rgba(57, 62, 70, 0.8);
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  @media (max-width: 59.375em) {
    .header__nav--item {
      margin: 2rem; } }
  .header__nav--link, .header__nav--link:visited, .header__nav--link:link {
    color: #FFF;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 3px;
    transition: all 0.2s; }
    @media (max-width: 59.375em) {
      .header__nav--link, .header__nav--link:visited, .header__nav--link:link {
        background-color: transparent;
        font-size: 3rem;
        color: #FFF;
        border: 1px solid #FFF;
        min-width: 20%; } }
    .header__nav--link:hover, .header__nav--link:visited:hover, .header__nav--link:link:hover {
      background-color: #FFF;
      color: #393E46; }

.hidden {
  transform: scale(0);
  position: absolute;
  opacity: 0;
  z-index: -999; }

.features {
  background-color: #7F669D;
  padding: 5rem 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  height: max-content; }
  @media (max-width: 75em) {
    .features {
      padding: 5rem 10rem; } }
  @media (max-width: 37.5em) {
    .features {
      padding: 5rem; } }
  @media (max-width: 59.375em) {
    .features {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      justify-items: center; } }
  @media (max-width: 37.5em) {
    .features {
      grid-template-columns: repeat(1, 1fr); } }
  .features__grid--big {
    grid-column: 1 / 3;
    width: 100%; }
    @media (max-width: 37.5em) {
      .features__grid--big {
        grid-column: auto; } }
  .features__card {
    background-color: rgba(57, 62, 70, 0.5);
    padding: 5rem 0;
    border-radius: 1rem;
    text-align: center;
    transition: all 1s; }
    @media (max-width: 59.375em) {
      .features__card {
        width: 100%; } }
    @media (max-width: 37.5em) {
      .features__card {
        width: 90%; } }
    .features__card--title {
      color: #FFF;
      font-size: 4rem;
      margin-bottom: 2rem; }
    .features__card--paragraph {
      color: #EFEFEF;
      font-weight: 400; }

.notices {
  padding: 5rem 0; }
  .notices__heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 5rem;
    position: relative; }
    .notices__heading::after {
      content: "";
      position: absolute;
      bottom: -5%;
      right: 50%;
      transform: translateX(50%);
      background-color: #393E46;
      height: 1px;
      width: 10rem; }
  .notices__container {
    margin: 0 auto;
    width: min-content; }
  .notices__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 60rem;
    background-color: rgba(57, 62, 70, 0.1);
    padding: 1rem;
    border-radius: 1rem; }
    @media (max-width: 59.375em) {
      .notices__item {
        min-width: 40rem; } }
    .notices__item:not(:last-child) {
      margin-bottom: 2rem; }
    .notices__item--title {
      font-weight: 600;
      color: #181818; }
    .notices__item--download {
      margin-left: 3rem;
      text-decoration: none;
      color: #7F669D; }
      .notices__item--download:hover {
        text-decoration: underline; }
    .notices__item--date {
      margin-left: auto;
      background-color: rgba(127, 102, 157, 0.8);
      color: #FFF;
      padding: 0.5rem 1rem;
      border-radius: 1rem; }

.recent {
  padding: 5rem 0; }
  .recent__heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 5rem;
    position: relative; }
    .recent__heading::after {
      content: "";
      position: absolute;
      bottom: -5%;
      right: 50%;
      transform: translateX(50%);
      background-color: #393E46;
      height: 1px;
      width: 10rem; }
  .recent__card--img {
    position: relative; }
  .recent__card--content {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(57, 62, 70, 0.9);
    padding: 1rem 2rem;
    border-radius: 5px; }
    @media (max-width: 37.5em) {
      .recent__card--content {
        padding: 0.5rem 1rem;
        top: 75%; } }
  .recent__card--title {
    font-size: 2.5rem;
    color: #FFF; }
    @media (max-width: 37.5em) {
      .recent__card--title {
        font-size: 1.8rem; } }
  .recent__card--date {
    color: #EFEFEF; }
    @media (max-width: 37.5em) {
      .recent__card--date {
        font-size: 1.5rem; } }

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: #EFEFEF;
    font-family: inherit;
    color: #393E46;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
    outline: none; }
  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%); }
  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%); }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s; }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    outline: none; }
  .dots__dot:last-child {
    margin: 0; }
  .dots__dot--active {
    background-color: #EFEFEF;
    opacity: 1; }

.about {
  padding: 5rem 0;
  margin: 0 2rem; }
  .about__heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 5rem;
    position: relative; }
    .about__heading::after {
      content: "";
      position: absolute;
      bottom: -5%;
      right: 50%;
      transform: translateX(50%);
      background-color: #393E46;
      height: 1px;
      width: 10rem; }
  .about__container {
    margin: 0 auto;
    max-width: 120rem;
    font-family: "Raleway", sans-serif;
    padding: 0; }
    @media (max-width: 75em) {
      .about__container {
        max-width: 80%; } }
    .about__container img {
      border-radius: 10px; }
  .about__content-1 {
    display: flex;
    align-items: center;
    margin-top: 10rem; }
    .about__content-1--img {
      margin-right: 5rem;
      box-shadow: 0 0.1rem 1rem #393E46; }
  .about__content-2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 10rem; }
    .about__content-2--img {
      box-shadow: 0 0.1rem 1rem #393E46;
      margin-left: 3rem; }
  .about__content-3 {
    display: flex;
    align-items: center;
    margin-top: 10rem; }
    .about__content-3--img {
      box-shadow: 0 0.1rem 1rem #393E46;
      margin-right: 3rem; }
  @media (max-width: 75em) {
    .about__content-1, .about__content-2, .about__content-3 {
      flex-direction: column-reverse;
      text-align: center; } }
  @media (max-width: 75em) {
    .about__content-1--img, .about__content-2--img, .about__content-3--img {
      margin: 0;
      margin-top: 5rem;
      width: 90%; } }
  .about__content-1--subheading, .about__content-2--subheading, .about__content-3--subheading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #393E46; }
  .about__content-1--paragraph, .about__content-2--paragraph, .about__content-3--paragraph {
    font-style: italic;
    color: #393E46; }

.vision {
  background-image: linear-gradient(to right bottom, rgba(222, 186, 206, 0.8), rgba(127, 102, 157, 0.8));
  padding: 5rem; }
  @media (max-width: 59.375em) {
    .vision {
      padding: 5rem 2rem; } }
  .vision__heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 5rem;
    position: relative; }
    .vision__heading::after {
      content: "";
      position: absolute;
      bottom: -5%;
      right: 50%;
      transform: translateX(50%);
      background-color: #393E46;
      height: 1px;
      width: 10rem; }
  .vision__paragraph {
    max-width: 80rem;
    text-align: center;
    color: #393E46;
    margin: 0 auto; }

.message {
  padding: 5rem 0; }
  .message__heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 5rem;
    position: relative; }
    .message__heading::after {
      content: "";
      position: absolute;
      bottom: -5%;
      right: 50%;
      transform: translateX(50%);
      background-color: #393E46;
      height: 1px;
      width: 10rem; }
  .message__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: 0 auto; }
    @media (max-width: 75em) {
      .message__content {
        max-width: 80%; } }
    @media (max-width: 59.375em) {
      .message__content {
        flex-direction: column; } }
  .message__content--img {
    max-width: 30rem;
    margin-right: 5rem;
    border-radius: 1rem;
    outline: 3px solid #7F669D; }
    @media (max-width: 59.375em) {
      .message__content--img {
        border-radius: 50%;
        margin: 0; } }
  .message__content--paragraph {
    font-size: 1.5rem; }
    @media (max-width: 59.375em) {
      .message__content--paragraph {
        text-align: center;
        margin-top: 5rem; } }

.footer {
  background-color: #7F669D;
  padding: 5rem 0; }
  .footer__text {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    @media (max-width: 59.375em) {
      .footer__text {
        flex-direction: column;
        align-items: center; } }
  .footer__logo {
    width: 8rem;
    margin-right: 5rem; }
    @media (max-width: 59.375em) {
      .footer__logo {
        margin: 0;
        margin-bottom: 3rem; } }
  .footer__content {
    display: flex;
    margin: 0 1rem;
    margin-bottom: 5rem; }
  .footer__group {
    list-style: none; }
    .footer__group:not(:last-child) {
      margin-right: 7rem; }
      @media (max-width: 59.375em) {
        .footer__group:not(:last-child) {
          margin-right: 3rem; } }
    .footer__group--title {
      color: #393E46; }
  .footer__item--link, .footer__item--link:visited, .footer__item--link:link {
    color: #FFF;
    text-decoration: none;
    font-size: 1.4rem; }
    .footer__item--link:hover, .footer__item--link:visited:hover, .footer__item--link:link:hover {
      text-decoration: underline; }
  .footer__app {
    font-size: 3rem;
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 2px solid #FFF;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.2s; }
    .footer__app:hover {
      background-color: #FFF;
      color: #393E46; }
      .footer__app:hover i {
        transform: translateX(0.3rem); }
    .footer__app i {
      margin-left: 1rem;
      transition: all 0.2s; }
  .footer__copyright {
    text-align: center;
    color: #EFEFEF;
    margin-top: 2rem;
    font-size: 1.4rem; }
