// COLORS

// Nutral colors
$color-primary-white: #FFF;
$color-secondary-white: #EFEFEF;
$color-primary-dark: #393E46;
$color-secondary-dark: #181818;

// Theme colors
$color-lavendar: #FBFACD;
$color-purple-light: #DEBACE;
$color-purple-medium: #BA94D1;
$color-purple-dark: #7F669D;

// FONTS
$font-primary: "Lato", sans-serif;
$font-secondary: "Raleway", sans-serif;
