.about {
  padding: $default-section-padding;

  &__heading {
    @include sectionHeading;
  }

  &__container {
    margin: 0 auto;
    max-width: 120rem;
    font-family: $font-secondary;

    @include respond(tab-land) {
      max-width: 80%;
    }
  }

  &__content-1 {
    display: flex;
    align-items: center;
    margin-top: 10rem;

    &--img {
      margin-right: 5rem;
      // border-radius: 2rem;
      box-shadow: 0 .1rem 1rem $color-primary-dark;
    }
    
  }

  &__content-2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 10rem;

    &--img {
      // border-radius: 2rem;
      box-shadow: 0 .1rem 1rem $color-primary-dark;
      margin-left: 3rem;

      
    }
    
  }

  &__content-3 {
    display: flex;
    align-items: center;
    margin-top: 10rem;

    &--img {
      box-shadow: 0 .1rem 1rem $color-primary-dark;
      margin-right: 3rem;
    }
  }

  &__content-1,
  &__content-2,
  &__content-3 {

    @include respond(tab-land) {
      flex-direction: column-reverse;
      text-align: center;
    }

    &--img {

      @include respond(tab-land) {
        margin: 0;
        margin-top: 5rem;
        max-width: 40rem
      }
    }

    &--subheading {
      @include sectionSubheading;
    }

    &--paragraph {
      font-style: italic;
      color: $color-primary-dark;
    }
  }
}