.features {
  background-color: $color-purple-dark;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  height: max-content;
  // clear: both;

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__card {
    background-color: rgba($color-primary-dark, 0.5);
    padding: 5rem 2rem;
    border-radius: 1rem;
    text-align: center;

    @include respond(tab-port) {
      min-width: 30rem;
    }

    @include respond(phone) {
      width: 90%;
    }

    // &:not(:last-child) {
    //   margin-right: 5rem;

    //   @include respond(tab-land) {
    //     margin: 0;
    //   }
    // }

    &--title {
      color: $color-primary-white;
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    &--paragraph {
      color: $color-secondary-white;
      font-weight: 400;
    }
  }
}
