.features {
  // background-color: $color-purple-dark;
  padding: 5rem 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  height: max-content;
  // clear: both;

  @include respond(tab-land) {
    padding: 5rem 10rem;
  }

  @include respond(phone) {
    padding: 5rem;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__grid--big {
    grid-column: 1 / 3;
    width: 100%;

    @include respond(phone) {
      grid-column: auto;
    }
  }

  &__card {
    padding: 5rem 0;
    // border-radius: 3px;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      background-size: cover;
      background-position: center;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      // filter: brightness(10%);
      opacity: 0.8;
      transition: all 0.5s;
      border-radius: inherit;
      background-color: transparent;
      z-index: -999;
      // opacity: 1;
      // background-color: rgba($color-primary-white, 0.1);
      filter: brightness(0.4);

      @include respond(phone) {
        // filter: brightness(60%);
      }
    }

    &:hover {
      &::after {
        transform: scale(1.2);

        @include respond(phone) {
          transform: scale(1);
          // filter: brightness(60%);
        }
      }
    }

    &--1::after {
      background-image: url("../img/about1.jpg");
    }

    &--2 {
      &::after {
        background-image: url("../img/about2.jpg");
      }
    }

    &--3 {
      &::after {
        background-image: url("../img/about3.jpg");
      }
    }

    &--4 {
      &::after {
        background-image: url("../img/recent1.jpg");
      }
    }

    &--5 {
      &::after {
        background-image: url("../img/recent2.jpg");
      }
    }

    &--6 {
      &::after {
        background-image: url("../img/recent3.jpg");
      }
    }

    &--7 {
      &::after {
        background-image: url("../img/hero1.jpg");
      }
    }

    @include respond(tab-port) {
      width: 100%;
    }

    @include respond(phone) {
      width: 90%;
    }

    &--title {
      color: $color-primary-white;
      font-size: 4rem;
      margin-bottom: 2rem;
      text-shadow: 0 0.01rem 6rem #000;
    }

    &--paragraph {
      color: $color-secondary-white;
      font-weight: 400;
      text-shadow: 0 0.01rem 2rem #000;
    }
  }
}

// Updated
