.header {
  min-height: 100vh;
  overflow: hidden;
  // position: relative;

  &::before {
    content: "";
    background-image: url("../../img/hero.jpg");
    background-color: rgba($color-primary-dark, .3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    filter: brightness(.4);
    z-index: -999;
  }

  &__expand {
    position: absolute;
    right: 5rem;
    top: 7rem;
    font-size: 4rem;
    color: $color-primary-white;
    cursor: pointer;
  }

  &__top {
    margin: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      // background-color: rgba($color-primary-dark, .8);
      padding-top: 3rem;
    }
  }

  &__logo-container {
    
  }

  &__logo--img {
    width: 100%;
  }

  &__text {
    text-align: center;
    margin-top: 18rem;
    padding: 0 5rem;

    @include respond(tab-port) {
      margin-top: 8rem;
    }

    &--heading {
      color: $color-primary-white;
      font-family: $font-primary;
      max-width: 120rem;
      margin: 0 auto;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 3rem;
    }

    &--paragraph {
      color: $color-secondary-white;
    }
  }
}