.header__nav {
  max-width: 90rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: auto;
  background-color: rgba($color-primary-dark, 0.5);
  padding: 2rem;
  border-radius: 3px;
  transition: opacity 0.2s;

  @include respond(tab-port) {
    max-width: none;
    border-radius: 0;
    background-color: rgba($color-primary-dark, 0.8);
    position: fixed;
    left: 50%;
    top: 50%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    // flex-wrap: wrap;
    justify-content: center;
    transform: translate(-50%, -50%);
  }

  &--item {
    @include respond(tab-port) {
      margin: 2rem;
    }
  }

  &--link,
  &--link:visited,
  &--link:link {
    color: $color-primary-white;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 3px;
    transition: all 0.2s;

    @include respond(tab-port) {
      background-color: transparent;
      font-size: 3rem;
      color: $color-primary-white;
      border: 1px solid $color-primary-white;
      min-width: 20%;
    }

    &:hover {
      background-color: $color-primary-white;
      color: $color-primary-dark;
    }
  }
}
