.header__nav {
  max-width: 90rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: auto;
  background-color: rgba($color-purple-light, .5);
  padding: 2rem;
  border-radius: 1rem;

  @include respond(tab-port) {
    margin: 0;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba($color-primary-dark, .5);
  }

  &--item {
    
    @include respond(tab-port) {
      margin: 2rem;
    }
  }

  &--link {
    color: $color-primary-white;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: all .2s;

    @include respond(tab-port) {
      background-color: rgba($color-primary-white, .8);
      color: $color-primary-dark;
    }

    &:hover {
      background-color: rgba($color-primary-dark, .2);
      color: $color-primary-white;

      @include respond(tab-port) {
        background-color: $color-primary-dark;
      }
    }
  }
}