.recent {
  padding: $default-section-padding;

  &__heading {
    @include sectionHeading;
  }

  &__card {
    &--img {
      position: relative;
    }

    &--content {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: rgba($color-primary-dark, 0.9);
      padding: 1rem 2rem;
      border-radius: 5px;

      @include respond(phone) {
        padding: 0.5rem 1rem;
        top: 75%;
      }
    }

    &--title {
      font-size: 2.5rem;
      color: $color-primary-white;

      @include respond(phone) {
        font-size: 1.8rem;
      }
    }

    &--date {
      color: $color-secondary-white;

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
}
