.recent {
  // padding: $default-section-padding;

  &__heading {
    @include sectionHeading;
  }

  &__card {
    &--img {
      position: relative;
    }

    &--content {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: rgba($color-primary-dark, 0.9);
      padding: 1rem 2rem;
      border-radius: 5px;
    }

    &--title {
      font-size: 2.5rem;
      color: $color-primary-white;
    }

    &--date {
      color: $color-secondary-white;
    }
  }
}
