.recent {
  padding: $default-section-padding;
  

  &__heading {
    @include sectionHeading;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
    }
    
  }

  &__card {
    box-shadow: 0 .1rem 2rem $color-primary-dark;
    flex: 0 0 35rem;
    border-radius: 5px;
    height: 40rem;
    outline: 3px solid $color-purple-dark;

    @include respond(tab-land) {
      // flex: 0 0 30rem;
      width: 30rem;
      height: 35rem;
    }

    @include respond(tab-port) {
      flex: 0 0 20rem;
      height: auto;
    }
    

    &:not(:last-child) {
      margin-right: 5rem;

      @include respond(tab-port) {
        margin: 0;
        margin-bottom: 5rem;
      }
    }

    &--img {
       width: 100%;
       border-radius: 5px 5px 0 0;
       
    }

    &--content {
      padding: 2rem;
    }

    &--title {
      font-family: $font-secondary;
      color: $color-secondary-dark;
    }

    &--date {
      color: $color-primary-dark;
    }
  }
}