// BASE CSS RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // This defines 1rem == 10px
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond (tap-port) {
    font-size: 50%
  }

  @include respond (phone) {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

hr {
  border: 0;
  border-bottom: 1rem solid $color-primary-dark;
  border-style: dotted;
  max-width: 10rem;
  margin: 3rem auto;
}
